"*":
  "autocomplete-plus":
    autoActivationDelay: 5
    scopeBlacklist: [
      ".comment"
    ]
  core:
    disabledPackages: [
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "firewatch-syntax"
    ]
  editor:
    tabLength: 4
  "exception-reporting":
    userId: "172774ab-bdf2-4ffc-934a-0550a0c19257"
  "linter-flake8":
    maxLineLength: 120
  "linter-ui-default":
    panelHeight: 264.23077392578125
  "platformio-ide-terminal":
    core: {}
  "tree-view":
    autoReveal: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".java.source":
  editor:
    tabLength: 4
